"*":
  core: {}
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "c91d63fc-159c-0c8a-253e-f817ee205600"
  "linter-python-pep8":
    pep8DirToExecutable: "/usr/local/bin/"
  welcome:
    showOnStartup: false
